#fileBtnDrop{
  display: inline-flex;
  justify-content: space-between;
}

#file__span-container > button > span{
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

#file__span-container > button > span:last-of-type{
  width: 30px;
  padding: 0px 20px 0px 10px;
}