button:disabled {
  background-color: transparent;
  color: grey;
  outline: none;
  border: 1px white solid;
}

button:hover:disabled {
  background-color: transparent;
  color: grey; 
  border: 1px white dotted;
}

#table__responsive::-webkit-scrollbar {
  display: none;
}

#table__responsive {
  padding-top: 1.5em; 
}

.table > .btn{
  font-size: larger;
  padding: .25rem .5rem;
  border-radius: 15% !important;
}

tbody {
  cursor: pointer;
}