#hide-scroll__parent {
  width: 100% !important;
  height: 100% !important;
  position: relative !important;
  overflow: hidden !important;
  display: table-row;
  overflow-y: auto;
}

#hide-scroll__child {
  position: relative;
  top:0;
  bottom: 0;
  left: 0;
  right: -17px !important; /* Increase/Decrease this value for cross-browser compatibility */
  overflow-y: scroll !important;
  height: 100% !important;
}

#hide-scroll__child::-webkit-scrollbar {
  display: none !important;
}